body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: radial-gradient(at center,#009500, #006400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px 0px;
}

#score-container,
#high-score-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 2px;
  padding: 2px;
  color: rgb(0, 0, 0);
  margin: 0;
}

#score-container {
  left: 50px;
}

#high-score-container {
  right: 50px;
}

#game-screen {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-color: rgb(176, 176, 176);
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 0 2em rgb(0, 0, 0);
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.game-name {
  font-size: 100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
}

.arrows-img {
  width: 200px;
}

#start-button {
  margin-top: 20px;
  background-color: #007800;
  color: #fff;
  font-size: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  height: auto;
  border: 2px solid black;
}

#start-button:hover {
  background-color: #004e11;
}

#restart-button {
  background-color: #007800;
  color: #fff;
  font-size: 50px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  height: auto;
}

#restart-button:hover {
  background-color: #004e11;
}

#countdown-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  background-color: rgba(240, 240, 255, 0.5); /* 50% opacity background color */
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  border-radius: 100px;
}

#countdown-timer {
  font-weight: bold;
  color: #000000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
